#display {
    text-align: center;
}
#display input{
    font-size: xx-large;
    background-color: white;
}

#result{
    text-align: center;
}
body{
    background-image: url('background-image.png');
    background-size: auto;
}

.pangolin-regular {
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
  }