#display {
    text-align: center;
}
#display input{
    font-size: xx-large;
    background-color: white;
}

#result{
    text-align: center;
}
body{
    background-image: url('background-image.png');
    background-size: auto;
    text-align: center;
}

.pangolin-regular {
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
}

canvas{
    border: 2px solid black;
    width: 50px;
    height: 80px;
    border-radius: 5px;
    margin: 10px;
}

@media screen and (min-width: 600px){
      canvas{
        width: 100px;
        height: 160px;
        border-radius: 10px;
      } 
}

hr {
    border: 5px solid green;
    border-radius: 5px;
}

#gore span {
    display: none;
}

#dole span span{
    display: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

#menu {
    margin: 10px;
    text-align: right;
}

iframe {
    width: 100%;
    height: 400px;
    border: none;
}